<nav class="menu_container">
    <ul class="menu">
        {% for item in navigation %}
            <li>
                <a href="{{item.url}}">
                    {{item.name}} 
                </a>
            </li>
        {% endfor %} 
    </ul>
</nav>