{% set page_title = 'home' %}
{% extends 'master.njk' %}
{% block content %}
<div class="max1200">
    <h2 class="mt-2">
        {{page_title}}
    </h2>
    <img src="./img/eu.png" alt="Eu">
</div>

{% endblock %}